.home-outer {
    height: 79vh;
    display: flex;
    align-items: center;
    height: 82vh;
}

.home-page {
    display: grid;
    grid-template-columns: 67% 33%;
    margin: 0 auto;
    height: 82vh;
    width: 90%;
    
}

.main-text {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;  
    box-shadow: 0.3rem 0.5rem rgba(104, 104, 104, 0.192);
}

.oej {
    margin-bottom: 7rem;
}

.sidebar-outer {
    margin-left: 5rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar-header {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

@media screen and (max-width: 1720px) {
    .trr {
        bottom: 35%;
    }
    .j {
        right: 12%;
    }
    .read-now {
        bottom: 25%;
    }
}

@media screen and (max-width: 1550px) {
    .trr {
        bottom: 33%;
        left: 2%;
    }
    .j {
        right: 7%;
    }
    .read-now {
        bottom: 25%;
    }
}

@media screen and (max-width: 1050px) {
    .trr {
        font-weight: bold;
        font-size: 12rem;
        position: absolute;
        color: black;
        right: 3%;
        text-align: right;
        top: 20%;
    }
    .j {
        font-weight: bold;
        font-size: 12rem;
        position: absolute;
        color: white;
        top: 50%;
        left: 3%;
    }
    .read-now {
        bottom: 33%;
    }
}

@media screen and (max-width: 900px) {
    .trr {
        width: 70rem;
    }
}